
/* .row class styles index, porfolio, and contact files */
.row {
    margin-bottom: 40px;
}

.esteban-pic {
    height: 200px;
    float: left;
    margin: 20px 20px 20px 0px;
}

/* Styles the section box (about me box) of the index file only */
section {
    padding: 100px 0px;
}

/* lines 19 to 27 styles the two cards in the portfolio file and the images */
.card {
    margin: 20px 20px 80px;
}
    
.card-img-top, .card-img-top-2 {
    width: auto;
    height: 350px;
    margin: 10px;   
}

/* Styles contact me box */
.contact-box {
    margin: 0px 10px;
}

/* lines 35 to 44 style social media box and links */
.logosbx {
    padding: 40px 0px;
    margin-left: 10px;
}

.ghlogo,
.lnkinlogo {
    width: 40px;
    height: 40px;
}


@media only screen and (min-width: 768px){
     .card-img-top, .card-img-top-2 {
        width: 100;
        height: 200px;
        margin: 10px;   
    }
}