
.row {
    margin-bottom: 40px;
}

.me-image {
    height: 200px;
    float: left;
    margin: 20px 20px 20px 0px;
    /*margin: 60px 40px; this should be under query*/
}

section {
    padding: 100px 0px;
}

.card {
    margin: 20px 20px 80px;
}
    
.card-img-top, .card-img-top-2 {
    width: 260px;
    height: 300px;
    margin: 10px;   
}

.social {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.contact-box {
    margin: 100px 10px;
}

/* should be with query 
footer {
    width: 100%;
    position: absolute;
    bottom: 0;

}*/
