header {
    /*height: 350px;*/
    padding: 40px;
    overflow: auto;
}

.me-image {
    height: 200px;
    margin: 55px 50px 0px 0px;
}

section {
    padding: 100px 0px;
}

h1 {
    margin: 100px 0px 0px 0px; 
    text-align: center;   
}
 
.card {
    margin: 20px;
}
    
.card-img-top, .card-img-top-2 {
    width: 260px;
    height: 300px;
    margin: 10px;   
}

.social {
    position: fixed;
    bottom: 0;
    left: 10px;
}

@media only screen and (max-width: 768px) {
    .me-image {
        float: left;
    }

}
