#hello {
  background-image: url("https://cdn.pixabay.com/photo/2020/01/11/07/39/north-4756774_960_720.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hello-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 4px 4px black;
}

.cropped {
  display: inline-block;
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.sky {
  color: white;
  position: absolute;
  top: 100px;
  left: 25px;
}

.btn {
  margin: 10px;
  border-color: darkblue;
  cursor: pointer;
}

/* .row class styles index, porfolio, and contact files */
.row {
  margin-bottom: 40px;
}

.esteban-pic {
  height: 200px;
  float: left;
  margin: 7px 20px 20px 0px;
}

/* Styles the section box (about me box) of the index file only */
section {
  padding: 0px 0px 20px;
}

/* lines 19 to 27 styles the two cards in the portfolio file and the images */
.card {
  margin: 20px 20px 80px;
}

#technologiesContainer,
#resumeContainer {
  margin: 10px auto;
}

.languages {
  text-align: center;
  margin: 10px auto;
}

.languages-logos {
  margin: 10px 20px;
}

.card-img-top,
.card-img-top-2 {
  width: auto;
  height: 350px;
  margin: 10px;
}

/* Styles contact me box */
.contact-box {
  margin: 0px 10px;
}

/* lines 35 to 44 style social media box and links */
.logosbx {
  padding: 40px 0px;
  margin-left: 10px;
}

.ghlogo,
.lnkinlogo {
  width: 60px;
  height: 60px;
}

/* @media only screen and (max-width: 363px) {
  .cropped {
    display: inline-block;
    height: 180px;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 576px) {
  .sky {
    color: white;
    position: relative;
    top: -40px;
    left: 40px;
  }
}

@media only screen and (min-width: 623px) {
  .sky {
    color: white;
    position: absolute;
    top: 100px;
    left: 60px;
  }
}

@media only screen and (min-width: 835px) {
  .sky {
    color: white;
    position: absolute;
    top: 100px;
    left: 20px;
    margin-left:80px
  }
}

@media only screen and (min-width: 935px) {
  .sky {
    color: white;
    position: absolute;
    top: 100px;
    left: 40px;
    margin-left:80px
  }
}

@media only screen and (min-width: 999px) {
  .sky {
    color: white;
    position: absolute;
    top: 100px;
    left: 110px;
  }
}

@media only screen and (min-width: 1100px) {
  .sky {
    color: white;
    position: absolute;
    top: 100px;
    left: 380px;
  }
} */
